
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #e0e2e1 0%, #858787 100%);
    color: #2d3436;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #ffffff;
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(158, 236, 3, 0.05);
    margin-bottom: 30px;
}

header h1 {
    font-size: 1.5rem;
    color: #000000;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #ffd700;
}


.menuHamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 40px;
    margin-left: 20px;
}

.menuHamburguer .barrinha {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
    transition: 0.2s;
}


section {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(158, 236, 3, 0.05);
    scroll-margin-top: 80px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #ffd700;
    padding-bottom: 5px;
}

/* configuração sobre */
#sobre {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
}

#sobre h2 {
    grid-column: 1 / -1;
}

#sobre img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    justify-self: center;
}

#sobre article {
    grid-column: 2 / 3;
}


/* configuração Projetos */
.projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.projetoCard {
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
    background: #fdffdf;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projetoCard:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-color: #ffd700;
}

.projetoCard h3 {
    margin-bottom: 10px;
    color: #333;
}


.btn-github {
    display: inline-block;
    padding: 10px;
    background: #333;
    color: #fff !important;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

.btn-github:hover {
    background: #ffd700;
    color: #333 !important;
}


/* configuração habilidades */
.habilidadesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 20px;
    padding: 20px 0;
}


.habilidadeCards{
    background: #ffffff;
    padding: 20px;
    border-radius: 15px 15px 5px 5px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-bottom: 4px solid #6c5ce7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.habilidadeCards:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}


.habilidadeCards img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.habilidadeCards h3 {
    font-size: 1.1rem;
    color: #2d3436;
    font-weight: 600;
}



.habilidadesSubtitulo {
    font-size: 1.2rem;
    color: #000000;
    margin: 30px 0 15px 0;
    text-align:right;
    padding-right: 15px;
    border-right: 4px solid #ffd700;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Formulário de contato */
form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    max-width: 800px;
    margin: 0 auto;
}


.input-row {
    display: grid;
    grid-template-columns: 150px 1fr; 
    align-items: center;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

/* códido para alinhar lbl para ficar junto ao input */
.input-row label {
    text-align: right;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    font-family: inherit;
}


button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    margin-top: 10px;
    width: fit-content; 
    margin-left: 165px;
}

button:hover {
    background-color: #ffd700;
    color: #333;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 40px;
    /* padding: 20px; */
    color: #000000;
    border-radius: 5px;
    scroll-margin-top: 80px;
}

footer #contato h2 {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

footer a {
    color: #ffd700;
    text-decoration: none;
    /* scroll-margin-top: 80px; */
}

footer a:hover {
    text-decoration: underline;
}

/* Mensagem de retorno do formulário */
#form-mensagem {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

/* MEDIA QUERIES - Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header {
        flex-direction: row;
        /* position: relative; */
        justify-content: space-between;
        flex-wrap: nowrap; 
        height: 70px;
        scroll-margin-top: 80px;
            background: #ffffff;

        padding: 15px 40px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(158, 236, 3, 0.05);
        margin-bottom: 30px;
    }

    /* Exibe o botão hambúrguer */
    .menuHamburguer {
        display: flex;

    }

    /* Esconde o menu inicialmente */
    nav {
        display: none;
        width: 100%;
        order: 3;
        position: absolute;
        top: 100%; /* Aparece logo abaixo do header */
        right: 20px; /* Alinhado à direita */
        background-color: #ffffff;
        box-shadow: 0 8px 15px rgba(0,0,0,0.1);
        border-radius: 8px;
        width: 200px; /* Largura fixa para o menu suspenso */
        z-index: 1001;
        scroll-margin-top: 80px;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap:0px;
        padding: 10px 0;
    }

    nav ul li{
        width: 100%;
    }

    nav ul li a{
        display: block;
        padding: 12px 20px;
        width: 100%;
        border-bottom: 1px solid #f0f0f0;
    }

    nav ul li:last-child a {
        border-bottom: none;
    }


    .menuHamburguer {
        display: flex;
        position: static;
        margin-left: auto;
    }


    #sobre {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    #sobre h2 {
        grid-column: 1;
    }

    #sobre img {
        grid-row: 2;
        max-width: 200px;
        margin: 0 auto;
    }

    #sobre article {
        grid-column: 1;
    }

    #sobre aside {
        grid-column: 1;
    }

    .input-row {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .input-row label {
        text-align: left;
    }

    button {
        margin-left: 0;
        width: 100%;
    }
}